
.search-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}


.input-field {
  padding: 0.5rem;
  font-size: 1rem;
}

/* Styling for the increment and decrement buttons */
.adjust-button {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Styling for the search button */
.search-button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
